/* Set the font and color scheme for the entire page */
body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 27, 56);
    margin: 0 0 0 0;
  }
  
  /* Style the header */
header {
    display: flex;
    background-color: rgb(31, 27, 56);
    color: #fff;
    height: 100px;
    padding: 5px 5px 5px 5px;
}
.index{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.main-title{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px 10px 10px 10px;
}
.searchbar{
    width:100%;
    padding: 10px 10px 10px 10px;
}
.search-main{
    width: 100%;
}
.walletButton-main{
    border: 4px solid #ffffff;
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(183, 183, 183);
    background-position: center;
    background-size: cover;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: rgb(40, 42, 40);
}

.connect-wallet-main{
    display: flex;
    justify-content: space-between;
}
/* Style the search bar in the header */
header input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


.main-label{
    font-size: xx-large;
    width: 20%;
    margin: 10px 10px 10px 10px;
}

.searchForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.main{
    text-align: center;
}
.search-input{
    width: 100%;
    height: 55%;
}
.search-button{

    margin: 10px 10px 10px 10px;
    background-color: #338465;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    border-radius: 10%;
    border-color: white;
    border-width: 4px;
    object-fit: cover;
    cursor: pointer;
    transition: background-color 0.2s;
    height: 55%;
}

.search-button:hover{
    background-color:honeydew;
}

.connect-wallet-button{
    display: flex;
    margin: 10px 10px 10px 10px;

    font-weight: bold;
    font-size: medium;
    background-color: rgb(238, 238, 110);
    border-radius: 10%;
    align-items: center;
    border-color: white;
    border-width: 4px;
    object-fit: cover;
    cursor: pointer;
    transition: background-color 0.2s;
}

.connect-wallet-button:hover{
    background-color:rgb(255, 255, 255);
}
.connect-wallet{
    display: flex;
    margin: 10px 10px 10px 10px;
    width: 20%;
}
.walletButton:hover{
    background-color:rgb(169, 225, 169);

}
.walletButton-main:hover{
    background-color:rgb(169, 225, 169);
    cursor: pointer;
    transition: background-color 0.2s;
}

label{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

.modal {
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-style: solid;
    border-radius: 5%;
    display:  flex;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(1, 29, 52);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.modal-content{
    border-color: rgb(255, 255, 255);
    border-width: 5px;
}

nav{
    display: flex;
    background-color: rgb(42, 59, 106);
    justify-content: space-between;

}

.price-label {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: none;
    font-weight: bolder;
    font-size: 14px;
    color: rgb(255, 255, 35);
  }

.setting-label {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: none;
    font-weight: bolder;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 110);
  }

  .setting-button {
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 10px 10px 10px 10px;
    border: none;
    font-weight: bolder;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgb(219, 219, 76);
  }




/* Add a hover effect for the sort buttons */
.setting-button:hover {
  background-color: #a9f9f8;
}

.wallets{
    width: 20%;
    display:  flex;
    text-align: center;
}

.walletButton{
    border: 4px solid #ffffff;
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(7, 32, 72);
    background-position: center;
    background-size: cover;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: rgb(193, 255, 93);
    cursor: pointer;
    transition: background-color 0.2s;
}

.cancel-button{
    background-color: rgb(231, 81, 81);
    border-color: azure;
    border-width: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 3%;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cancel-button:hover{
    background-color: #7a0000;
}

.logo-img{
    padding: 10px 10px 10px 10px;
    width: 40px;
}


.wallet-info{
    font-weight: bolder;
    font-size: larger;
    color:#ffffff;
    background-color: #7a0000;
    padding: 10px 10px 10px 10px;
}



.grid-nft{
    display: grid;    
    margin:10px 10px 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    grid-gap:20px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;

}

.grid-item{
    color: rgb(38, 46, 47);
    border-style: solid;
    border-width: 5px;
    border-color:  #fcf7f7e0; 
    border-radius: 2%;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ft-img{
    height: 30px;
    width: 30px;
}
.grid-item-ft{
    font-weight: bold;
}
.grid-item-overview{
    font-weight: bold;
    font-size: larger;
}


tr:hover {
    background-color: rgb(37, 70, 155);
    cursor:pointer;
}

.grid-item-collection{
    color: rgb(146, 146, 146);
    border-style: solid;
    border-width: 5px;
    border-color:  #f0f0f0e0; 
    border-radius: 2%;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.grid-ft {
    background-color: #50a6ec;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    color:rgb(255, 255, 255);
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-radius:3%;

}

.currency{
    display: flex;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    align-items: center;
    font-size: large;
    font-weight: bold;
    background-color: #13a990;
    color:rgb(255, 255, 255);
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-radius:3%;
    justify-content: space-between;

}

  .currency-button {
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius:10%;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(0, 0, 0);
    background-color: rgb(222, 222, 95);
  }

  .currency-button:hover{
    background-color: rgb(112, 190, 39);
  }

.overview-inner{
    background-color: #50a6ec;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    color:rgb(255, 255, 255);
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
    border-radius:3%;
}

.wallet{
    display:flex;
    flex-direction: column;
}

.top-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.nfts{
    width: 100%;
}

.fts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.overview{
    
}

.grid-item:hover{
    border-color: #4fea3e;
    cursor: pointer;
    transition: background-color 0.2s;
}
.grid-item-collection:hover{
    border-color: #ebfe1c;
    cursor: pointer;
    transition: background-color 0.2s;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.grid-item-collection img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}



.dropdown-box{
    text-align: center;
}

.dropdown-content{
    border-style: solid;
    border-width: 3px;
    border-color:  #285ec2e0; 
    background-color: #a6b1e0;
    margin: auto;
    display: flex;
    width: 40%;
}

.token-sub-img{
    width: 50%;
}

.item-info{

    display: inline;
    padding: 20px 20px 20px 20px;
    font-size: large;
    font-weight: bold;
}

.loading-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s linear infinite;
}

.loading-info{
    position: absolute;
    top: 40%;
    left: 40%;
}

.address-info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-div{
    text-align: center;
}

@keyframes spin {
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}

.token-image{
    width: 50%;
    padding: 10px 10px 10px 10px;
}

.main-img{
    width: 100%;
}

.token-main{
    padding: 30px 30px 30px 30px;

    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}



.metadata{
    display: flex;
    width: 50%;
    font-size: large;
    color:#879cf8;
    padding: 10px 10px 10px 10px;


}
.token-box{
    display: flex;
    width: 100%;

}


.policyData{
    text-align: center;
    display: flex;
    justify-content: center;
}


.policy-item{
    padding: 0px 40px 0px 10px;
    color:#61ff89;
    font-size: larger;
    font-weight: bold;
}

table{
    border-collapse: collapse;
}

.expand-meta{
    background-color: #061b36;
    color:white;
    border-width: 2px;
    border-color: #879cf8;
    border-radius: 10%;
    font-size: small;
    font-weight: bold;
}
td, th {
    padding: 4px;
  }
  