/* Set the font and color scheme for the entire page */
:root{
    --main-color: #2fe6fe;
    --second-color:#073b55;
    --third-color: #ffffff;
    --fourth-color: #dfdfdf8c;
    --main-font: 'Courier New', sans-serif;
    --radius : 10px;
    
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--second-color);
    margin: 0 0 0 0;
}
  
  /* Style the header */
header {
    font-family: var(--main-font);
    display: flex;
    height: 100px;
    padding: 5px 5px 5px 5px;
}

header input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--third-color);
    border-radius: 4px;
}


.main-label{
    color: var(--main-color);
    font-family: var(--main-font);
    font-size: xx-large;
    width: 20%;
    margin: 10px 10px 10px 10px;
}

.searchForm{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.search-input{
    font-family: var(--main-font);

    background-color: var(--second-color);
    color:var(--main-color);
    width: 100%;
    height: 55%;
}

.search-button{
    font-family:var(--main-font);
    margin: 10px 10px 10px 10px;
    background-color:var(--second-color);
    color:var(--main-color);
    font-size: large;
    font-weight: bold;
    border-color: white;
    border-width: 2px;
    border-radius: var(--radius);
    object-fit: cover;
    cursor: pointer;
    transition: background-color 0.2s;
    height: 55%;
}

.search-button:hover{
    background-color:var(--third-color);
}

.connect-wallet{


}

.connect-wallet-button{
    font-family: var(--main-font);

    position: relative;
    top: 20px;
    right: 5px;
    border-style: solid;    
    border-radius: var(--radius);
    border-style: solid;
    border-color: var(--third-color);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    background-color:var(--main-color);
    color:var(--second-color);
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    font-size: larger;
    font-weight: bold;
    width: 150px;
    height: 60px;
}

.color-picker{
    display: flex;

}

.colors{
    display: flex;
    flex-direction: column;

}

.color-selector{

    height: 33px;
    padding: 5px;
    background-color: var(--main-color);
}
.color-selector:hover{
    background-color: var(--third-color);
}

.connect-wallet-img{
    width: 30px;
    height: auto;
    padding: 0px 0px 0px 10px;
}


.connect-wallet-button:hover{
    background-color:var(--third-color);
}

.options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 85px;
    right: 20px;    
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;

  }

.option-color{
}

.options-color{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 365px;
    right: 80px;    
    width: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

}

.option-button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    background-color:var(--main-color);
    color:var(--second-color);
    font-family: var(--main-font);


}
  
.option-button:hover {
    background-color: var(--third-color);

}

.price-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.out-price{
}


.price-nav-inner{
    display: flex;

}

.price-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.price-label {
    display: inline-block;
    font-weight: bolder;
    font-size: 15px;
    color: var(--third-color);
}


.setting-button {
    font-family: var(--main-font);
    border: var(--third-color) 1px solid;
    display: inline-block;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    color:var(--second-color);
    background-color:var(--main-color);
    height: 50px;

}

.setting-nav{
    display: flex;
    justify-content:space-between;
    border: var(--main-color) 1px solid;
}

.summary{
    display: flex;
    justify-content: space-between;
    background-color: var(--second-color);
    color: var(--main-color);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-color: var(--third-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
}

.summary-item{
    display: flex;
    color: var(--main-color);
}

.active {
    font-family: 'Courier New',sans-serif;

    display: inline-block;
    font-weight: bolder;
    font-size: 15px;
    height: 100%;
    padding: 10px 10px 10px 10px;

    background-color: var(--main-color);
    color: var(--second-color);
    border: none;
    cursor: pointer;
}
  
.inactive {
    font-family: var(--main-font);

    display: inline-block;
    font-weight: bolder;
    font-size: 15px;
    height: 100%;
    padding: 10px 10px 10px 10px;

    background-color: var(--second-color);
    color: var(--third-color);
    border: none;
    cursor: pointer;
}

.active:hover{
    background-color: var(--third-color);
}

.inactive:hover{
    background-color:var(--third-color);
    color:black;
}
  

.value{
    display: flex;
    padding: 0px 10px 0px 10px;
    color:var(--main-color);
}

.currency{
    padding: 0px 10px 0px 10px;
    color:gold;
}

.grid-ft {
    background-color: var(--second-color);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    color:var(--main-color);
    border-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

}
.grid-nft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    background-color: var(--second-color);
    color:var(--third-color);
    border-color: var(--main-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    align-items: center;
    color: var(--third-color);
    border-style: solid;
    border-width: 2px;
    border-color:  var(--main-color);
    border-radius: 10px;
    box-shadow: 2px 2px 20px 5px var(--main-color);
    width: 300px;
    height: 370px;
    background-color: var(--second-color);
}

.grid-item-collection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    align-items: center;
    color: var(--third-color);
    border-style: solid;
    border-width: 2px;
    border-color:  var(--main-color);
    border-radius: 10px;
    box-shadow: 2px 2px 20px 5px var(--main-color);
    width: 300px;
    height: 370px;
    background-color: var(--second-color);
}


.grid-item:hover{
    background-color:var(--fourth-color);
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.05);
}
    
.grid-item-collection:hover{
    background-color:var(--fourth-color);
    cursor: pointer;
    transition: transform 0.3s;
    transform: scale(1.05);
}

.policy-button{
    background-color:inherit;
    font-size: inherit;

    text-decoration: underline;
    color: var(--third-color);
    border: none;
    font-family: var(--main-font);
}

.policy-button:hover{
    background-color:var(--fourth-color);
    cursor: pointer;
}
  
.policy-info{
    display: flex;
    justify-content: space-between;
}


.grid-item-info{
    text-align: center;
    padding: 0px 0px 5px 0px;
    
}

.grid-item-text{
    text-align: center;

}

.grid-item-title{
    font-weight: bold;
    font-size: larger;
}

tr:hover {
    background-color: var(--fourth-color);
    cursor:pointer;
}

.index{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

.main-title{
    font-size: x-large;
    font-weight: bold;
}

.searchbar{
    font-family: var(--main-font);

    width:100%;
    padding: 10px 10px 10px 10px;
}
.search-main{
    width: 100%;
}

.connect-wallet-main{
    display: flex;
}

.walletButton-main{
    border: 4px solid var(--third-color);
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(187, 225, 246);
    background-position: center;
    background-size: cover;
    font-weight: bold;
    color: var(--second-color);
}

.walletButton-main:hover{
    background-color: var(--third-color);
    cursor: pointer;
}

.wallet-img{
    width: 100%;
}


.policyData{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}


.policy-item{
    padding: 0px 40px 0px 10px;
    color:var(--third-color);
    font-size: larger;
    font-weight: bold;
}

.dropdown-box{
    text-align: center;
}

.dropdown-content{
    border-style: solid;
    border-width: 3px;
    border-color:  #285ec2e0; 
    background-color: #a6b1e0;
    margin: auto;
    display: flex;
    width: 40%;
}

.token-sub-img{
    width: 50%;
}

.item-info{

    display: inline;
    padding: 20px 20px 20px 20px;
    font-size: large;
    font-weight: bold;
}

.loading-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s linear infinite;
}

.loading-info{
    position: absolute;
    top: 40%;
    left: 40%;
}

.address-info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-div{
    text-align: center;
}

@keyframes spin {
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}

.token-image{
    width: 50%;
    padding: 10px 10px 10px 10px;
}

.main-img{
    width: 700px;
}

.token-main{

    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}



.metadata{
    display: flex;
    font-size: large;
    color: var(--third-color);
    padding: 10px 10px 10px 10px;


}
.token-box{
    display: flex;
    width: 100%;
}



.expand-meta{
    background-color: #061b36;
    color:white;
    border-width: 2px;
    border-color: #879cf8;
    border-radius: 10%;
    font-size: small;
    font-weight: bold;
}









.main{
    text-align: center;
}




label{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}





.ft-table{
    width: 100%;
    border-collapse: collapse;

}

/* Add a hover effect for the sort buttons */
.setting-button:hover {
  background-color: var(--third-color);
}


.grid-img {

    max-width: 270px;
    max-height: 270px;
    object-fit: cover;
    padding: 5px;
    border: 1px white solid;
    border-radius: 5px;
}



.ft-img{
    height: 30px;
    width: 30px;
}
.grid-item-ft{
    font-weight: bold;
    font-size: large;
}




.wallet{
    display:flex;
    flex-direction: column;
}

.top-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.nfts{
    width: 100%;
}

.fts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}








  