/* Set the font and color scheme for the entire page */
body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 7, 7);
    margin: 0 0 0 0;
  }
  
  /* Style the header */
header {
    display: flex;
    background-color: rgb(50, 7, 7);
    color: #fff;
    height: 100px;
    padding: 5px 5px 5px 5px;
}

/* Style the search bar in the header */
header input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


.main-label{
    font-size: xx-large;
    width: 20%;
    margin: 10px 10px 10px 10px;
}

.searchForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search-input{
    width: 100%;
    height: 55%;
}
.search-button{

    margin: 10px 10px 10px 10px;
    background-color: #b1ffa7; 
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    border-radius: 10%;
    border-color: white;
    border-width: 4px;
    object-fit: cover;
    cursor: pointer;
    transition: background-color 0.2s;
    height: 55%;
}

.search-button:hover{
    background-color:honeydew;
}

.connect-wallet-button{
    display: flex;
    margin: 10px 10px 10px 10px;

    font-weight: bold;
    font-size: medium;
    background-color: rgb(238, 238, 110);
    border-radius: 10%;
    align-items: center;
    border-color: white;
    border-width: 4px;
    object-fit: cover;
    cursor: pointer;
    transition: background-color 0.2s;
}

.connect-wallet-button:hover{
    background-color:rgb(255, 255, 255);
}
.connect-wallet{
    display: flex;
    margin: 10px 10px 10px 10px;
    width: 10%;
}
.walletButton:hover{
    background-color:rgb(169, 225, 169);
}

label{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

.modal {
    border-color: rgb(130, 149, 4);
    border-width: 5px;
    border-style: solid;
    border-radius: 5%;
    display:  flex;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: rgb(206, 206, 206);
    color: rgb(33, 32, 32);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.modal-content{
    border-color: black;
    border-width: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(199, 196, 196);

}
/* Style the sort buttons */
.sort-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: rgb(0, 0, 0);
  background-color: rgb(226, 226, 115);

}

.sort-label {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: rgb(238, 238, 110);
    color: rgb(47, 62, 64);

    font-weight: bolder;
    font-size: 14px;
  }

/* Add a hover effect for the sort buttons */
.sort-button:hover {
  background-color: #f4f4f4;
}

.wallets{
    width: 20%;
    display:  flex;
    text-align: center;
}

.walletButton{
    border: 4px solid #4d4a01;
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(183, 183, 183);
    background-position: center;
    background-size: cover;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    color: rgb(40, 42, 40);
}

.cancel-button{
    background-color: rgb(231, 81, 81);
    border-color: azure;
    border-width: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5%;
    color: white;
}

.logo-img{
    padding: 10px 10px 10px 10px;
    width: 40px;
}


.wallet-info{
    font-weight: bolder;
    font-size: larger;
    color:#ffffff;
    background-color: #7a0000;
    padding: 10px 10px 10px 10px;
}



.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));

    grid-gap: 20px;
    justify-content: center;
    margin: 20px 40px 10px 40px ;
    padding: 10px 10px 10px 10px;

}

.grid-item{
    color: rgb(47, 62, 64);
    border-style: solid;
    border-width: 5px;
    border-color:  #c3b2b2e0; 
    border-radius: 2%;
    width: 300px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:hover{
    border-color: #ebfe1c;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}



.dropdown-box{
    text-align: center;
}

.dropdown-content{
    border-style: solid;
    border-width: 3px;
    border-color:  #285ec2e0; 
    background-color: #a6b1e0;
    margin: auto;
    display: flex;
    width: 40%;
}

.token-sub-img{
    width: 50%;
}

.nft{
    border-width: 5px;
    border-color:  #483fe7e0;
    background-color: rgb(155, 132, 225);
    color:white;
}

.coin{
    height: 5%;
    border-color:  #c685c5; 
    background-color:#ddadd1; 
    color: #333;
}

.item-info{

    display: inline;
    padding: 20px 20px 20px 20px;
    font-size: large;
    font-weight: bold;
}

.loading-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s linear infinite;
}

.loading-info{
    position: absolute;
    top: 40%;
    left: 40%;
}


.main-img{
    width: 60%;
}

.home-link{
    color:rgb(176, 245, 176);
    font-size: larger;
    font-weight: bolder;

    padding: 10px 10px 10px 10px;
}
.main-title{


}

.address-info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img-div{
    text-align: center;
}

@keyframes spin {
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}

.token-image{
    text-align: center;
    width: 100%;
}



.metadata{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: large;
    color:#879cf8;
}
.token-box{
    display: flex;
}

.policyData{
    text-align: center;
    display: flex;
    justify-content: center;
}
.token-name{
    text-align: center;
}

.policy-item{
    padding: 0px 40px 0px 10px;
    color:#61ff89
}

table{
    border-collapse: collapse;
}

td {
    border-color: rgb(47, 141, 255);
    border-style: solid;
    border-width: 2px;
    color: #ddff56;
    font-size: larger;
}

.expand-meta{
    background-color: #061b36;
    color:white;
    border-width: 2px;
    border-color: #879cf8;
    border-radius: 10%;
    font-size: small;
    font-weight: bold;
}
