/* Set the font and color scheme for the entire page */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #afdc99;
  }
  
  /* Style the header */
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 5px 5px 5px 5px;
}

main{
    display: flex;
    color: #fff;
    padding: 20px;
}
/* Style the search bar in the header */
header input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.main-title{
    text-align: center;
}
.main-label{
    font-size: xx-large;
}
label{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

.searchForm{
    padding: 10px 10px 10px 10px;
    width: 75%;
    text-align: center;
}
.search-input{
    height: 70%;
}
.wallet-info{
    display: flex;
    text-align: center;
    border-color: #333;
    border-width: 15px;
}

.token-info{
    background-color: #333;
    padding: 30px 30px 30px 30px;
    width: 50%;
    text-align: center;
    color: white;
    border-color: #333;
    border-width: 15px;
}

.ada-info{
    background-color: #333;
    padding: 30px 30px 30px 30px;
    width: 50%;
}

.inner{

    font-weight: bold;
    font-size: large;
    padding: 10px 10px 10px 10px;
    border-color:  #8280cae0; 
    border-style: solid;
    border-width: 5px;
    justify-self: center;
    align-items: center;
    background-color:#a8e3b8db; 
    color:rgb(71, 68, 68);
}

/* Style the sorting bar */
.sorting-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    border-color: #333;
    border-width: 4px;
}

.search-button{
    height: 70%;
    border: 2px solid rgb(108, 108, 224);
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    background-color: #98cb91; 
    color: black;
    font-size: large;
}

.search-button:hover{
    background-color:honeydew;
}
/* Style the sort buttons */
.sort-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: rgb(180, 225, 183);
  font-size: 14px;
  color: rgb(47, 62, 64);
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Add a hover effect for the sort buttons */
.sort-button:hover {
  background-color: #f4f4f4;
}
.wallets{
    width: 20%;
    display:  flex;
    text-align: center;
}
.walletButton{
    height: 70%;
    border: 2px solid rgb(108, 108, 224);
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    background-color: #a6e49e; 
}

.walletButton:hover{
    background-color:honeydew;
}

.token-img{
    width: 7%;
    object-fit: cover;
}

.wallet-img{
    width: 50px;

}

.box-title{
    display: flex;
    text-align: center;
}

.projects{
    background-color: rgb(54, 58, 55);
    padding: 10px 10px 10px 10px;
    display: grid;
    border-width: 5px;
    justify-content: center;
    align-items: center;
}

.show-assets-button{
    border: 2px solid rgb(108, 108, 224);
    border-radius: 10%;
    margin: 10px 10px 10px 10px;
    background-color: #8294e1; 
    color: white;
}
.grid-item{
    color: rgb(47, 62, 64);
    margin: 10px 0px 0px 20px;
    border-style: solid;
    border-width: 5px;
    border-color:  #6d6ac9e0; 
    background-color: #a6e49e; 
    display: flex;
    align-items: center;

}

.dropdown-box{
    text-align: center;
}
.dropdown-content{
    border-style: solid;
    border-width: 3px;
    border-color:  #285ec2e0; 
    background-color: #a6b1e0;
    margin: auto;
    display: flex;
    width: 40%;
}

.token-sub-img{
    width: 20%;
}

.nft{
    border-width: 5px;
    border-color:  #483fe7e0;
    background-color: rgb(155, 132, 225);
    color:white;
}

.coin{
    border-color:  #c685c5; 
    background-color:#ddadd1; 
    color: #333;
}

.token-list{
    display: flex;
}

.item-info{

    display: inline;
    padding: 20px 20px 20px 20px;
    font-size: large;
    font-weight: bold;
}

.loading-symbol {
    position: absolute;
    top: 6%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    animation: spin 1s linear infinite;
}

.main-img{
    width: 60%;
}
.img-div{
    text-align: center;
}
@keyframes spin {
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}


.policyInfo{
    text-align: center;
}